<div class="users">
    <div class="user_list">

        <div class="active_user">
            <div class="active_info">
                <div class="title">Active now</div>
                <div class="count">20</div>
            </div>
            <div class="active_profile">
                <img class="profile" src="./assets/img/contributer3.svg">
                <img class="profile" src="./assets/img/contributer1.svg">
                <img class="profile" src="./assets/img/contributer2.svg">
                <img class="profile" src="./assets/img/contributer1.svg">
            </div>
        </div>

        <div class="search">
            <input type="search" class="search_txt" placeholder="Search" />
            <i class="fa fa-magnifying-glass"></i>
        </div>

        <div class="chat_list">
            <div class="list current">
                <div class="user_profile">
                    <img class="profile bg" src="./assets/img/contributer3.svg" />
                </div>
                <div class="message">
                    <div class="user_name">Blankann<div class="status status_deactive m_5"></div>
                    </div>

                    <div class="user_message">New message arrive in night..</div>
                    <hr />
                </div>
            </div>
            <div class="list">
                <div class="user_profile">
                    <img class="profile bg" src="./assets/img/contributer3.svg" />
                </div>
                <div class="message">
                    <div class="user_name">Harper<div class="status status_active m_5"></div>
                    </div>
                    <div class="user_message">New message arrive in night..</div>
                    <hr />
                </div>
            </div>
            <div class="list">
                <div class="user_profile">
                    <img class="profile bg" src="./assets/img/contributer3.svg" />
                </div>
                <div class="message">
                    <div class="user_name">Victoria</div>
                    <div class="user_message">New message arrive in night..</div>
                    <hr />
                </div>

            </div>
            <div class="list">
                <div class="user_profile">
                    <img class="profile bg" src="./assets/img/contributer3.svg" />
                </div>
                <div class="message">
                    <div class="user_name">Lillian</div>
                    <div class="user_message">New message arrive in night..</div>
                    <hr />
                </div>
            </div>
            <div class="list">
                <div class="user_profile">
                    <img class="profile bg" src="./assets/img/contributer3.svg" />
                </div>
                <div class="message">
                    <div class="user_name">Lillian</div>
                    <div class="user_message">New message arrive in night..</div>
                    <hr />
                </div>
            </div>
            <div class="list">
                <div class="user_profile">
                    <img class="profile bg" src="./assets/img/contributer3.svg" />
                </div>
                <div class="message">
                    <div class="user_name">Lillian</div>
                    <div class="user_message">New message arrive in night..</div>
                    <hr />
                </div>
            </div>
            <div class="list">
                <div class="user_profile">
                    <img class="profile bg" src="./assets/img/contributer3.svg" />
                </div>
                <div class="message">
                    <div class="user_name">Lillian</div>
                    <div class="user_message">New message arrive in night..</div>
                    <hr />
                </div>
            </div>
            <div class="list">
                <div class="user_profile">
                    <img class="profile bg" src="./assets/img/contributer3.svg" />
                </div>
                <div class="message">
                    <div class="user_name">Lillian</div>
                    <div class="user_message">New message arrive in night..</div>
                    <hr />
                </div>
            </div>
        </div>

    </div>

    <div class="user_details">
        <div class="header">
            <div class="current_user">
                <div class="user_profile">
                    <img src="./assets/img/contributer3.svg" class="profile sm" />
                </div>
                <div class="user_info">
                    <div class="user_name">
                        Blankann
                    </div>
                    <div class="user_status">
                        <div class="status status_active mtr_5"></div> Active Now
                    </div>
                </div>
            </div>
            <div class="communication">
                <i class="fa-solid fa-phone"></i>
                <i class="fa-solid fa-video"></i>
                <i class="fa-solid fa-bell"></i>
            </div>
        </div>

        <div class="chat_body">
            <div class="received">
                <div class="user_profile">
                    <img src="./assets/img/contributer3.svg" class="profile sm"/>
                </div>
                <div class="chat">
                    <div class="time"> 7:30 AM, 31 JAN</div>
                    <div class="chat_txt">
                        new message arrive in night and here is the total text read and replay.new
                        message arrive in night and here is the total text read and replay.
                    </div>
                </div>
            </div>

            <div class="sent">
                <div class="chat">
                    <div class="sent_msg_div">
                        <div class="time"> 7:30 AM, 31 JAN</div>
                        <div class="chat_txt">
                            new message arrive in night and here is the total text read and replay.
                        </div>
                    </div>
                    <div class="receive_status mtr_5"><div class="seen"><i class="fa-solid fa-check-double"></i>Seen 7: 31 AM</div></div>
                </div>
            </div>

            <div class="received">
                <div class="user_profile">
                    <img src="./assets/img/contributer3.svg" class="profile sm"/>
                </div>
                <div class="chat">
                    <div class="time"> 7:30 AM, 31 JAN</div>
                    <div class="chat_txt">
                        <img class="ml_10" src="./assets/img/Rectangle 32.svg"/>
                        <img class="ml_10" src="./assets/img/Rectangle33.svg">
                        
                    </div>
                </div>
            </div>

            <div class="sent">
                <div class="chat">
                    <div class="sent_msg_div">
                        <div class="time"> 7:30 AM, 31 JAN</div>
                        <div class="chat_txt">
                            new message arrive in night and here is the total text read and replay.
                        </div>
                    </div>
                    <div class="receive_status mtr_5"><div class="deliver"><i class="fa-solid fa-check-double"></i>deliver 7: 48 AM</div></div>
                </div>
            </div>
            <div class="received">
                <div class="user_profile">
                    <img src="./assets/img/contributer3.svg" class="profile sm"/>
                </div>
                <div class="chat">
                    <div class="time">7:45 AM, 31 JAN</div>
                    <div class="chat_txt">
                       New message arrive in night
                    </div>
                </div>
            </div>
            <div class="sent">
                <div class="chat">
                    <div class="sent_msg_div">
                        <div class="time"> 7:48 AM, 31 JAN</div>
                        <div class="chat_txt">
                            new message arrive in night and here is the total text read and replay.
                        </div>
                    </div>
                    <div class="receive_status mtr_5"><div class="sent"><i class="fa-solid fa-check"></i>send 7: 50 AM</div></div>
                </div>
            </div>
        </div>
        <div class="chat_footer">
            <div class="ft_left">
                <div class="text_div">
                    <textarea rows="1" cols="50"  placeholder="Type something"></textarea>
                </div>
                <div class="attachment_div">
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-regular fa-face-smile"></i>
                    <i class="fa-solid fa-image"></i>
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
            <div class="ft_right">
                <a href="#"><button class="send_button">Send <i class="fa-solid fa-paper-plane"></i></button></a>
            </div>
        </div>

    </div>
</div>
