<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forget Password</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="main_page_public" id="signup">
      <app-left-section></app-left-section>
      <div class="section right">
        <form
          id="signup_form"
          name="signup_form"
          #f="ngForm"
          method="post"
          novalidate
        >
          <div *ngIf="step == 1">
            <div class="title_desc">
              <div class="title">Forgot Password</div>
              <div class="description">
                Enter the email you used to create your account so we can send
                you instructions on how to reset your password.
              </div>
            </div>
            <div class="form_controls">
              <div class="control_item">
                <input
                  type="text"
                  class="control"
                  name="email"
                  id="email"
                  placeholder="Email"
                  autocomplete="off"
                  [(ngModel)]="itemData.email"
                  #email="ngModel"
                  [pattern]="emailPattern"
                  required
                />
                <div
                *ngIf="
                  email.invalid && (email.dirty || email.touched || f.submitted)
                "
                class="error"
              >
                <div *ngIf="email.errors?.['required']">email is required.</div>

                <div *ngIf="email.errors?.['pattern']">
                  Invalid email address.
                </div>
              </div>
              
              <div  class="error" *ngIf="error">
                {{msg}}
                </div>
              </div>

              <div class="control_item">
                <button
                  (click)="onForgot()"
                  class="button button_primary"
                  id="send_mail"
                  [disabled]="!f.valid"
                  >Send</button>
              </div>
              <div class="control_item">
                <button
                  [routerLink]="['/login']"
                  class="button button_light"
                  id="back_login"
                  >Back to login</button
                >
              </div>
            </div>
          </div>
          <div *ngIf="step == 2">
            <div class="title_desc">
              <div class="title">Verify your Email</div>
              <div class="description">
                We have sent a verification email to n****e@e***e.com {{itemData.email}}.
              </div>
            </div>
            <div class="description2">
              Didn't receive the email? Check spam or promotion folder or
            </div>
            <div class="form_controls">
              <div class="control_item">
                <button class="button button_primary" id="resend_mail" 
                (click)="onForgot()"
                  >Resend Email</button>
              </div>
              <div class="control_item">
                <button
                  [routerLink]="['/login']"
                  class="button button_light"
                  id="back_login"
                  >Back to login</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
