<div class="profile_div">
  <form #f="ngForm" novalidate (ngSubmit)="saveItem(f)">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="mt-2" for="first_name"
            >First Name<span class="required">*</span></label
          >
          <input
            type="text"
            autocomplete="off"
            class="form-control formcontrol"
            id="first_name"
            name="first_name"
            placeholder="Enter Your First Name"
            [(ngModel)]="authService.userItem.first_name"
            #first_name="ngModel"
            required
            minlength="4"
          />
          <div
            *ngIf="
              first_name.invalid &&
              (first_name.dirty || first_name.touched || f.submitted)
            "
            class="error"
          >
            <div *ngIf="first_name.errors?.['required']">
              firstname is required.
            </div>
            <div *ngIf="first_name.errors?.['minlength']">
              firstname have at least 4 char.
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="mt-2" for="last_name"
            >Last Name<span class="required">*</span></label
          >
          <input
            type="text"
            autocomplete="off"
            class="form-control formcontrol"
            id="last_name"
            name="last_name"
            placeholder="Enter Your Last Name"
            [(ngModel)]="authService.userItem.last_name"
            #last_name="ngModel"
            required
            minlength="4"
          />
          <div
            *ngIf="
              last_name.invalid &&
              (last_name.dirty || last_name.touched || f.submitted)
            "
            class="error"
          >
            <div *ngIf="last_name.errors?.['required']">
              Last name is required.
            </div>
            <div *ngIf="last_name.errors?.['minlength']">
              Last name have at least 4 char.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="mt-2" for="email"
            >Email<span class="required">*</span></label
          >
          <input
            type="email"
            class="form-control formcontrol"
            id="email"
            name="email"
            placeholder="Enter Your Email"
            [(ngModel)]="authService.userItem.email"
            #email="ngModel"
            required
            autocomplete="off"
            [pattern]="emailPattern"
          />
          <div
            *ngIf="
              email.invalid && (email.dirty || email.touched || f.submitted)
            "
            class="error"
          >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['pattern']">Invalid email address.</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="mt-2" for="mobile"
            >Mobile<span class="required">*</span></label
          >
          <input
            type="text"
            autocomplete="off"
            class="form-control formcontrol"
            id="mobile"
            name="mobile"
            placeholder="Enter Mobile Number"
            [(ngModel)]="authService.userItem.mobile"
            #mobile="ngModel"
            required
            maxlength="10"
          />
          <div
            *ngIf="
              mobile.invalid && (mobile.dirty || mobile.touched || f.submitted)
            "
            class="error"
          >
            <div *ngIf="mobile.errors?.['required']">Mobile is required.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <div class="row">
            <label class="mt-2" for="gender"
              >Gender<span class="required">*</span></label
            >
          </div>
          <div class="row mt-2">
            <div class="col">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="male1"
                  value="male"
                  required
                  [(ngModel)]="authService.userItem.gender"
                  #gender="ngModel"
                />
                <!-- [checked]="authService.userItem.gender == 'male'" -->
                <label class="mt-2" class="form-check-label" for="male1"
                  >male</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="female1"
                  value="female"
                  required
                  [(ngModel)]="authService.userItem.gender"
                  #gender="ngModel"
                />

                <label class="mt-2" class="form-check-label" for="female1"
                  >female</label
                >
                <div
                  *ngIf="
                    gender.invalid &&
                    (gender.dirty || gender.touched || f.submitted)
                  "
                  class="error"
                >
                  <div *ngIf="gender.errors?.['required']">
                    Gender is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="mt-2" for="date1"
            >Date Of Birth<span class="required">*</span></label
          >
          <input
            type="date"
            class="form-control formcontrol"
            id="date1"
            name="date1"
            [(ngModel)]="authService.userItem.date1"
            #date1="ngModel"
            required
            max="{{maxDate}}"
          />
          <div
            *ngIf="
              date1.invalid && (date1.dirty || date1.touched || f.submitted)
            "
            class="error"
          >
            <div *ngIf="date1.errors?.['required']">
              Date of Birth is required.
            </div>
            <div *ngIf="date1.errors?.['max']">
              Date of Birth.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="mt-2" for="address"
            >Address<span class="required">*</span></label
          >
          <textarea
            class="form-control formcontrol"
            id="address"
            name="address"
            placeholder="Enter Your Address"
            [(ngModel)]="authService.userItem.address"
            #address="ngModel"
            required
          ></textarea>
          <div
            *ngIf="
              address.invalid &&
              (address.dirty || address.touched || f.submitted)
            "
            class="error"
          >
            <div *ngIf="address.errors?.['required']">Address is required.</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="mt-2" for="city"
            >City<span class="required">*</span></label
          >
          <input
            type="text"
            autocomplete="off"
            class="form-control formcontrol"
            id="city"
            name="city"
            placeholder="Enter Your city"
            [(ngModel)]="authService.userItem.city"
            #city="ngModel"
            required
          />
          <div
            *ngIf="city.invalid && (city.dirty || city.touched || f.submitted)"
            class="error"
          >
            <div *ngIf="city.errors?.['required']">City is required.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="mt-2" for="pin"
            >Pin<span class="required">*</span></label
          >
          <input
            type="text"
            autocomplete="off"
            class="form-control formcontrol"
            id="pin"
            name="pin"
            placeholder="Enter Your pin"
            [(ngModel)]="authService.userItem.pin"
            #pin="ngModel"
            required
            minlength="6"
            maxlength="6"
          />
          <div
            *ngIf="pin.invalid && (pin.dirty || pin.touched || f.submitted)"
            class="error"
          >
          <div *ngIf="pin.errors?.['required']">Area Pin is required.</div>
          <div *ngIf="pin.errors?.['minlength']">Area Pin must be 6 digits.</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="mt-2" for="state"
            >State<span class="required">*</span></label
          >
          <input
            type="text"
            autocomplete="off"
            class="form-control formcontrol"
            id="state"
            name="state"
            placeholder="Enter Your state"
            [(ngModel)]="authService.userItem.state"
            #state="ngModel"
            required
          />
          <div
            *ngIf="
              state.invalid && (state.dirty || state.touched || f.submitted)
            "
            class="error"
          >
            <div *ngIf="state.errors?.['required']">State is required.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="mt-2" for="qualification"
            >Qualification<span class="required">*</span></label
          >
          <select
            id="qualification"
            class="form-control formcontrol"
            name="qualification"
            [(ngModel)]="authService.userItem.qualification"
            #qualification="ngModel"
            required
          >
            <option value="">--Select Qualification--</option>
            <option value="bba">BBA</option>
            <option value="bca">BCA</option>
            <option value="bcom">BCom</option>
          </select>
          <div
            *ngIf="
              qualification.invalid &&
              (qualification.dirty || qualification.touched || f.submitted)
            "
            class="error"
          >
            <div *ngIf="qualification.errors?.['required']">
              qualification is required.
            </div>
          </div>
          <label class="mt-2" for="user_image"
            >Profile Picture<span class="required">*</span></label
          >
          <input
            type="file"
            class="form-control formcontrol"
            id="user_image"
            name="user_image"
            placeholder="user_image"
            [accept]="accept_file['image']"
            (change)="fileChangeEvent($event, content)"
            *ngIf="!authService.userItem?.user_image?.file_src"
            style="line-height: 23px"
          />
          <span
            class="preview_image_span ml-3"
            *ngIf="authService.userItem?.user_image?.file_src"
          >
            <img
              class="preview_t_image"
              [src]="authService.userItem?.user_image?.file_src"
              alt="your file"
            />
            <i class="fa fa-times-circle" (click)="removeFile()"></i>
          </span>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="row">
            <label class="mt-2" for="specialization"
              >Specialization<span class="required">*</span></label
            >
          </div>
          <div class="row mt-1">
            <div class="col mx-2">
              <div class="form-check" *ngFor="let item of authService.specializationList">
                <input
                  class="form-check-input position-static"
                  type="checkbox"
                  [id]="item.name"
                  [value]="item.name"
                  name="specialization"
                  [checked]="item.checked"
                  (change)="item.checked = !item.checked"
                  required
                />
                <label
                  class="mt-2"
                  class="form-check-label"
                  for="{{ item.name }}"
                  >{{ item.title }}</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group float-right">
          <button
            type="button"
            class="btn btn-sm btn-secondary m-2"
            (click)="closeCreate()"
          >
            Cancle
          </button>
          <button
            type="submit"
            class="btn btn-sm btn-success m-2"
            [disabled]="!f.valid"
          >
            <span *ngIf="authService.userItem.id">Update</span>
            <span *ngIf="!authService.userItem.id">Create</span>
          </button>
          <!-- <button
              type="submit"
              class="btn btn-sm btn-success m-2"
              [disabled]="!f.valid"
              *ngIf="!authService.userItem.id"
            >
            Create
          </button> -->
        </div>
      </div>
    </div>
  </form>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crop Image</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-0" style="text-align: center">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 4"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click'); saveCroppedImage()"
    >
      Save
    </button>
  </div>
</ng-template>
