<div class="section left">
    <div class="title">
        Admin<i class="fa fa-bars"></i>
    </div>
    <div class="list">
        <ul class="unordered_list">
            <li class="list_item">
                <div class="active"><i class="fa fa-windows"></i>Dashboard
                    <i class="fa fa-angle-down float-right"></i>
                </div>
                <ul class="">
                    <li class="list_item"><a href="#"><i class="fa-solid fa-chart-simple"></i>Sales</a>
                    </li>
                    <li class="list_item"><a href="#"><i class="fa-solid fa-handshake-simple"></i></a>CRM
                    </li>
                    <li class="list_item active"><a href="#"><i
                                class="fa-solid fa-diagram-project"></i></a>Analytics</li>
                </ul>
            </li>
            <li class="list_item"><a href="#"><i class="fa-solid fa-comment-dots"></i></a>Chat</li>
            <li class="list_item"><a href="#"><i class="fa-solid fa-envelope"></i></a>Email</li>
            <li class="list_item"><a href="#"><i class="fa-solid fa-calendar-days"></i></a>Calendar</li>
            <li class="list_item"><a href="#"><i class="fa-solid fa-list-check"></i></a>Task </li>
            <li class="list_item"><a href="#"><i class="fa-solid fa-ticket"></i></a>Tickets</li>
            <li class="list_item"><a href="#"><i class="fa-solid fa-file"></i></a>File Manager</li>
            <li class="list_item"><a href="#"><i class="fa-solid fa-chart-simple"></i></a>Companies</li>
            <li class="list_item"><a href="#"><i class="fa-solid fa-lock"></i></a>Authentication</li>
            <li class="list_item"><a href="#"><i class="fa-solid fa-gear"></i></a>Settings</li>
        </ul>
    </div>
    <div class="copyrights">Copyright © itoagency</div>
</div>