<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reset Password</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="main_page_public" id="signup">
      <app-left-section></app-left-section>
      <div class="section right">
        <form
          id="signup_form"
          name="signup_form"
          method="post"
          #f="ngForm"
          novalidate
        >
          <div *ngIf="step == 1">
            <div class="title_desc">
              <div class="title">Reset Password</div>
              <div class="description">
                Choose a new password for your account
              </div>
            </div>
            <div class="form_controls">
              <div class="control_item">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="control"
                  name="password"
                  id="password"
                  placeholder="Your New Password"
                  autocomplete="off"
                  [(ngModel)]="resetData.password"
                  #password="ngModel"
                  required
                  [pattern]="passwordPattern"
                />
                <i
                  class="fa {{
                    !showPassword ? 'fa-eye-slash' : 'fa-eye'
                  }} pass_icon"
                  (click)="showPassword = !showPassword"
                ></i>
                <div
                  *ngIf="
                    password.invalid &&
                    (password.dirty || password.touched || f.submitted)
                  "
                  class="error"
                >
                  <div *ngIf="password.errors?.['required']">
                    password is required.
                  </div>
                  <div *ngIf="password.errors?.['pattern']">
                    password must be at least 8 characters long contain at least
                    one number, uppercase, lowercase and special character.
                  </div>
                </div>
              </div>
              <div class="control_item">
                <input
                  [type]="showCPassword ? 'text' : 'password'"
                  class="control"
                  name="cpassword"
                  id="cpassword"
                  placeholder="Confirm Your New Password"
                  autocomplete="off"
                  [(ngModel)]="resetData.cpassword"
                  #cpassword="ngModel"
                  required
                  [pattern]="passwordPattern"
                />
                <i
                  class="fa {{!showCPassword ? 'fa-eye-slash' : 'fa-eye'}} pass_icon"
                  (click)="showCPassword = !showCPassword"
                ></i>
                <div
                  *ngIf="
                    cpassword.invalid &&
                    (cpassword.dirty || cpassword.touched || f.submitted)
                  "
                  class="error"
                >
                  <div *ngIf="cpassword.errors?.['required']">
                    cpassword is required.
                  </div>
                  <div *ngIf="cpassword.errors?.['pattern']">
                    cpassword must be at least 8 characters long contain at
                    least one number, uppercase, lowercase and special
                    character.
                  </div>
                </div>
                <div class="error" *ngIf="!cpassword.errors?.['required'] && resetData.password != resetData.cpassword&& (cpassword.dirty || cpassword.touched)">
                  Password & Confirm Password Not Match
                </div>
                <div class="error" *ngIf="error">
                  {{ msg }}
                </div>
              </div>
              <div class="control_item">
                <button
                  type="submit"
                  class="button button_primary"
                  id="reset_password"
                  [disabled]="!f.valid"
                  (click)="onResetPassword()"
                >
                  Reset Password
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="step == 2">
            <div class="title_desc mt_15">
              <div class="sucess ">
                <img src="../../../assets/img/sucess.svg" />
                <div class="description">Password reset successfully</div>
              </div>
            </div>
          
          </div>
          <div *ngIf="step == 3">
            <div class="title_desc mt_15">
              <div class="sucess">
                <img src="../../../assets/img/error.svg" />
                <div class="description">{{ msg }}</div>
              </div>
            </div>
          </div>

          <div class="form_controls">
            <div class="control_item">
              <button
                [routerLink]="['/login']"
                class="button button_light"
                id="back_login"
              >
                Back to login
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
