<!-- <div class="modal-header">
          <a href="#" (click)="activeModal.dismiss('Cross click')"><i class="fa fa-xmark"></i></a>
		
	</div> -->
<div class="modal-body">
  <div class="change_password">
    <form
      method="post"
      id="signup_form"
      name="signup_form"
      #f="ngForm"
      (ngSubmit)="onChangePassword(f)"
      novalidate
    >
      <div class="form_control">
        <label class="form_label"
          >Current Password <span class="required">*</span></label
        >
        <input
          [type]="showCurPassword ? 'text' : 'password'"
          class="form_input"
          name="current_password"
          id="current_password"
          autocomplete="off"
          [(ngModel)]="resetData.current_password"
          #current_password="ngModel"
          required
          (click)="onChange()"
        />
        <i
          class="fa  {{
            !showCurPassword ? 'fa-eye-slash' : 'fa-eye'
          }} changepass_icon"
          (click)="showCurPassword = !showCurPassword"
        ></i>
        <div
          *ngIf="
            current_password.invalid &&
            (current_password.dirty || current_password.touched || f.submitted)
          "
          class="error"
        >
          <div *ngIf="current_password.errors?.['required']">
            current_password is required.
          </div>
         
        </div>
      </div>
      <div class="form_control">
        <label class="form_label">
          Password <span class="required">*</span></label
        >
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form_input"
          name="password"
          id="password"
          autocomplete="off"
          [(ngModel)]="resetData.password"
          #password="ngModel"
          required
        />
        <i
          class="fa  {{
            !showPassword ? 'fa-eye-slash' : 'fa-eye'
          }} changepass_icon"
          (click)="showPassword = !showPassword"
        ></i>
        <div
          *ngIf="
            password.invalid &&
            (password.dirty || password.touched || f.submitted)
          "
          class="error"
        >
          <div *ngIf="password.errors?.['required']">password is required.</div>
          
        </div>
      </div>
      <div class="form_control">
        <label class="form_label"
          >Confirm Password <span class="required">*</span></label
        >
        <input
          [type]="showCPassword ? 'text' : 'password'"
          class="form_input"
          name="cpassword"
          id="cpassword"
          autocomplete="off"
          [(ngModel)]="resetData.cpassword"
          #cpassword="ngModel"
          required
        />
        <i
          class="fa  {{
            !showCPassword ? 'fa-eye-slash' : 'fa-eye'
          }} changepass_icon"
          (click)="showCPassword = !showCPassword"
        ></i>
        <div
          *ngIf="
            cpassword.invalid &&
            (cpassword.dirty || cpassword.touched || f.submitted)
          "
          class="error"
        >
          <div *ngIf="cpassword.errors?.['required']">
            cpassword is required.
          </div>
         
        </div>
        <div class="error" *ngIf="!cpassword.errors?.['required'] && resetData.password != resetData.cpassword && (cpassword.dirty || cpassword.touched)">
          Password & Confirm Password Not Match
        </div>
        
        <div class="error" *ngIf="error">
          {{ msg }}
        </div>
      </div>
      <div class="form_btn">
        <button
          class="pass_button"
          id="change_pass"
          name="change_pass"
          type="submit"
        >
          Change
        </button>
        <button
          type="button"
          class="pass_button dark"
          id="cancle"
          name="cancle"
          (click)="activeModal.dismiss('Cross click')"
        >
          Cancle
        </button>
      </div>
    </form>
  </div>
</div>
