<!-- <div class="admin_body"> -->
    
    <div class="section statistic">

        <div class="box">
            <div class="icon">
                <i class="fa-solid fa-file icon_square file"></i>
                <div class="icon_name ">File</div>
                <div class="description ">3,456 Files</div>
            </div>
            <div class="percentage">
                <svg class="float-left" width="79" height="79" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="54" fill="none" stroke="#eaf1ff" stroke-width="10"></circle>
                    <circle class="" cx="60" cy="60" r="54" fill="none" stroke="#2D74FF" stroke-width="10"
                        pathLength="100" stroke-dasharray="100" stroke-dashoffset="75"
                        transform="rotate(-90,60,60)" stroke-linecap="round">
                    </circle>
                </svg>
                <span>25.00%</span>
            </div>
        </div>

        <div class="box">
            <div class="icon">
                <i class="fa fa-youtube icon_square video"></i>
                <div class="icon_name">Videos</div>
                <div class="description">1,254 Files</div>
            </div>
            <div class="percentage">
                <svg class="float-left" width="79" height="79" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="54" fill="none" stroke="#f1edfd" stroke-width="10"></circle>
                    <circle class="" cx="60" cy="60" r="54" fill="none" stroke="#7047EE" stroke-width="10"
                        pathLength="100" stroke-dasharray="100" stroke-dashoffset="65"
                        transform="rotate(-90,60,60)" stroke-linecap="round">
                    </circle>
                </svg>
                <span>35.00%</span>
            </div>
        </div>
        <div class="box">
            <div class="icon">
                <i class="fa-solid fa-music icon_square music"></i>
                <div class="icon_name">Music</div>
                <div class="description">5,453 Files</div>
            </div>
            <div class="percentage">
                <svg class="float-left" width="79" height="79" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="54" fill="none" stroke="#fdeafd" stroke-width="10"></circle>
                    <circle class="" cx="60" cy="60" r="54" fill="none" stroke="#EA27EE" stroke-width="10"
                        pathLength="100" stroke-dasharray="100" stroke-dashoffset="60"
                        transform="rotate(-90,60,60)" stroke-linecap="round">
                    </circle>
                </svg>
                <span>40.00%</span>
            </div>
        </div>
    </div>
    <div class="section table">
        <table class="list_table">
            <tr class="table_row">
                <th class="table_heading sort asc">File Name</th>
                <th class="table_heading sort">Date & Time</th>
                <th class="table_heading sort">Size</th>
                <th class="table_heading sort">Contribution</th>
                <th class="table_heading">Action</th>

            </tr>
            <tr class="table_row">
                <td class="table_data desc"><i class="fa fa-youtube icon_square primary sm"></i>UI
                    Design Class</td>
                <td class="table_data date_time">11 Feb, 2021 at 9.00AM</td>
                <td class="table_data">
                    <div class="size">3.54MB</div>
                </td>
                <td class="table_data">
                    <div class="contributers">
                        <div class="contributer1"><img class="admin_pic"
                                src="./assets/img/contributer1.svg" />
                        </div>
                        <div class="contributer2"><img class="admin_pic"
                                src="./assets/img/contributer2.svg" />
                        </div>
                        <div class="contributer3"><img class="admin_pic"
                                src="./assets/img/contributer3.svg" />
                        </div>
                        <div class="last admin_pic">20<i class="fa-regular fa-plus"></i></div>
                    </div>
                </td>
                <td class="table_data">
                    <a href="#"><i class="fa-solid fa-pen-to-square action_icon"></i></a>
                    <a href="#"><i class="fa-solid fa-trash action_icon"></i></a>
                </td>
            </tr>
            <tr class="table_row">
                <td class="table_data desc"><i class="fa fa-youtube icon_square primary sm"></i>UI
                    Design Class</td>
                <td class="table_data date_time">11 Feb, 2021 at 9.00AM</td>
                <td class="table_data">
                    <div class="size">3.54MB</div>
                </td>
                <td class="table_data">
                    <div class="contributers">
                        <div class="contributer1"><img class="admin_pic"
                                src="./assets/img/contributer1.svg" />
                        </div>
                        <div class="contributer2"><img class="admin_pic"
                                src="./assets/img/contributer2.svg" />
                        </div>
                        <div class="contributer3"><img class="admin_pic"
                                src="./assets/img/contributer3.svg" />
                        </div>
                        <div class="last admin_pic">20<i class="fa-regular fa-plus"></i></div>
                    </div>
                </td>
                <td class="table_data">
                    <a href="#"><i class="fa-solid fa-pen-to-square action_icon"></i></a>
                    <a href="#"><i class="fa-solid fa-trash action_icon"></i></a>
                </td>
            </tr>
            <tr class="table_row">
                <td class="table_data desc"><i class="fa fa-youtube icon_square primary sm"></i>UI
                    Design Class</td>
                <td class="table_data date_time">11 Feb, 2021 at 9.00AM</td>
                <td class="table_data">
                    <div class="size">3.54MB</div>
                </td>
                <td class="table_data">
                    <div class="contributers">
                        <div class="contributer1"><img class="admin_pic"
                                src="./assets/img/contributer1.svg" />
                        </div>
                        <div class="contributer2"><img class="admin_pic"
                                src="./assets/img/contributer2.svg" />
                        </div>
                        <div class="contributer3"><img class="admin_pic"
                                src="./assets/img/contributer3.svg" />
                        </div>
                        <div class="last admin_pic">20<i class="fa-regular fa-plus"></i></div>
                    </div>
                </td>
                <td class="table_data">
                    <a href="#"><i class="fa-solid fa-pen-to-square action_icon"></i></a>
                    <a href="#"><i class="fa-solid fa-trash action_icon"></i></a>
                </td>
            </tr>
            <tr class="table_row">
                <td class="table_data desc">
                    <i class="fa fa-file icon_square primary sm"></i>
                    Office Document
                </td>
                <td class="table_data date_time">02 Feb, 2021 at 10.00AM</td>
                <td class="table_data">
                    <div class="size">1.14MB</div>
                </td>
                <td class="table_data">
                    <div class="contributers">
                        <div class="contributer1"><img class="admin_pic"
                                src="./assets/img/contributer1.svg" />
                        </div>
                        <div class="contributer2"><img class="admin_pic"
                                src="./assets/img/contributer2.svg" />
                        </div>
                        <div class="contributer3"><img class="admin_pic"
                                src="./assets/img/contributer3.svg" />
                        </div>
                        <div class="last admin_pic">11<i class="fa-regular fa-plus"></i></div>
                    </div>
                </td>
                <td class="table_data">
                    <a href="#"><i class="fa-solid fa-pen-to-square action_icon"></i></a>
                    <a href="#"><i class="fa-solid fa-trash action_icon"></i></a>
                </td>
            </tr>
            <tr class="table_row">
                <td class="table_data desc"><i class="fa-solid fa-microphone icon_square primary sm"></i>
                    Call Recording</td>
                <td class="table_data date_time">01 Feb, 2021 at 9.00AM</td>
                <td class="table_data">
                    <div class="size">5.50MB</div>
                </td>
                <td class="table_data">
                    <div class="contributers">
                        <div class="contributer1"><img class="admin_pic"
                                src="./assets/img/contributer1.svg" />
                        </div>
                        <div class="contributer2"><img class="admin_pic"
                                src="./assets/img/contributer2.svg" />
                        </div>
                        <div class="contributer3"><img class="admin_pic"
                                src="./assets/img/contributer3.svg" />
                        </div>
                    </div>
                </td>
                <td class="table_data">
                    <a href="#"><i class="fa-solid fa-pen-to-square action_icon"></i></a>
                    <a href="#"><i class="fa-solid fa-trash action_icon"></i></a>
                </td>
            </tr>
            <tr class="table_row">
                <td class="table_data desc"><i class="fa fa-youtube icon_square primary sm"></i>
                    Class Video</td>
                <td class="table_data date_time">31 Jan, 2021 at 2.00PM</td>
                <td class="table_data">
                    <div class="size">53MB</div>
                </td>
                <td class="table_data">
                    <div class="contributers">
                        <div class="contributer1"><img class="admin_pic"
                                src="./assets/img/contributer1.svg" />
                        </div>
                        <div class="contributer2"><img class="admin_pic"
                                src="./assets/img/contributer2.svg" />
                        </div>
                        <div class="contributer3"><img class="admin_pic"
                                src="./assets/img/contributer3.svg" />
                        </div>
                        <div class="last admin_pic">15<i class="fa-regular fa-plus"></i></div>
                    </div>
                </td>
                <td class="table_data">
                    <a href="#"><i class="fa-solid fa-pen-to-square action_icon"></i></a>
                    <a href="#"><i class="fa-solid fa-trash action_icon"></i></a>
                </td>
            </tr>
            <tr class="table_row">
                <td class="table_data desc"><i class="fa-solid fa-image icon_square primary sm"></i>
                    Tour Photos</td>
                <td class="table_data date_time">29 Jan, 2021 at 12.00PM</td>
                <td class="table_data">
                    <div class="size">23.5MB</div>
                </td>
                <td class="table_data">
                    <div class="contributers">
                        <div class="contributer1"><img class="admin_pic"
                                src="./assets/img/contributer1.svg" />
                        </div>
                        <div class="contributer2"><img class="admin_pic"
                                src="./assets/img/contributer2.svg" />
                        </div>
                    </div>
                </td>
                <td class="table_data">
                    <a href="#"><i class="fa-solid fa-pen-to-square action_icon"></i></a>
                    <a href="#"><i class="fa-solid fa-trash action_icon"></i></a>
                </td>
            </tr>
            <tr class="table_row">
                <td class="table_data desc"><i class="fa fa-file icon_square primary sm"></i>
                    Office Document</td>
                <td class="table_data date_time">25 Jan, 2021 at 9.45AM</td>
                <td class="table_data">
                    <div class="size">3.54MB</div>
                </td>
                <td class="table_data">
                    <div class="contributers">
                        <div class="contributer1"><img class="admin_pic"
                                src="./assets/img/contributer1.svg" />
                        </div>
                        <div class="contributer2"><img class="admin_pic"
                                src="./assets/img/contributer2.svg" />
                        </div>
                        <div class="contributer3"><img class="admin_pic"
                                src="./assets/img/contributer3.svg" />
                        </div>
                        <div class="last admin_pic">20<i class="fa-regular fa-plus"></i></div>
                    </div>
                </td>
                <td class="table_data">
                    <a href="#"><i class="fa-solid fa-pen-to-square action_icon"></i></a>
                    <a href="#"><i class="fa-solid fa-trash action_icon"></i></a>
                </td>
            </tr>

        </table>
    </div>

    <div class="section storage">

        <!-- <div class="storage_detail "> -->
        <div class="title">Storage Details</div>
        <div class="storage_info">
            <!-- <div class="storage_lists">
                <div class="desc">
                    <div class="description">
                        Available Space
                    </div>
                    <div class="storage_data">54GB/128GB</div>
                </div>
            </div> -->
            <div [chart]="chart"></div>
        </div>
        <div class="sm_box">
            <div class="progress_icon">
                <i class="fa-solid fa-file"></i>
            </div>
            <div class="progressbar">
                <div class="name_desc">
                    <div class="icon_name">Documents</div>
                    <div class="description">5,674</div>
                </div>
                <progress class="progress file_p" value="56.74" max="100"></progress>
            </div>
        </div>
        <div class="sm_box">
            <div class="progress_icon">
                <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="progressbar">
                <div class="name_desc">
                    <div class="icon_name">Video</div>
                    <div class="description">1,624</div>
                </div>
                <progress class="progress video_p" value="16.24" min="0" max="100"></progress>
            </div>

        </div>
        <div class="sm_box">
            <div class="progress_icon">
                <i class="fa-solid fa-music sm"></i>
            </div>
            <div class="progressbar">
                <div class="name_desc">
                    <div class="icon_name">Music</div>
                    <div class="description">3,619</div>
                </div>
                <progress class="progress music_p" value="36.19" max="100"></progress>
            </div>

        </div>
        <div class="sm_box">
            <div class="progress_icon">
                <i class="fa-solid fa-image"></i>
            </div>
            <div class="progressbar">
                <div class="name_desc">
                    <div class="icon_name">Image</div>
                    <div class="description">5,515</div>
                </div>
                <progress class="progress image_p" value="55.15" max="100"></progress>
            </div>

        </div>
        <div class="clean">
            <div class="clean_icon">
                <i class="fa-solid fa-trash"></i>
            </div>
            <!-- <a href="#" class="btn"> -->
            <div class="button button_primary">
                Clean Up Space
            </div>
            <!-- </a> -->
        </div>
        <!-- </div> -->
    </div>
<!-- </div> -->